@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

:root {
  --main-bg-color: rgb(217 225 220);
  --main-color: #000;
  --accent-color: rgb(197, 17, 119);
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Spartan", sans-serif;
  /* font-size: 14px; */
  background-color: var(--main-bg-color);
  color: var(--main-color);

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite; */
  min-width: 300px;
  overflow-x: auto;
}

main {
  flex-grow: 1;
}

p {
  line-height: 2.5rem;
  margin-bottom: 20px;
}
h1 {
  margin-block-end: 20px;
}

.contents > li {
  margin-block-end: 10px;
}

@media screen and (min-width: 600px) {
  body {
    padding: 40px;
  }
}

/* HEADER  */

header {
  /* display: flex;
  justify-content: space-between; */
  display: none;
}

header > nav {
  display: flex;
  flex-direction: column;
}

/* INTRO */

section.introduction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

section > h1 {
  font-size: 4rem;
}

section.introduction > p {
  margin-block-end: 20px;
}

@media screen and (min-width: 600px) {
  section.introduction {
    max-width: 80%;
    margin: auto;
  }
}
/* PORTAITS */

.slide-container {
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
  height: 100vh;
}

/* .slide {
  height: 100vh;
} */

.portrait-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin-bottom: 150px;
}
.portrait-container:last-child {
  padding-bottom: 100px;
}
.portrait-title {
  margin-bottom: 30px;
  font-size: 3rem;
}

.portrait-img {
  width: 100vw;
  margin-bottom: 30px;
  border: 0.5px solid black;
  /* box-shadow: 3px 2px 8px black; */
}

.portrait-quote {
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .portrait-container {
    display: grid;
    grid-template-areas:
      "a b b"
      "c b b"
      "d b b";
    max-height: 90vh;
  }
  .portrait-img {
    grid-area: b;
    max-width: 50%;
    margin: auto;
  }
  .portrait-quote {
    grid-area: c;
  }
  .portrait-info {
    grid-area: d;
  }
}

/* FOOTER  */
footer {
  position: fixed;
  padding: 20px;
  bottom: 0;
  right: 0;
  width: 100%;
  /* margin: auto; */
  text-align: right;
  display: flex;
  justify-content: space-between;
  background: #dcdcf2;
  border-top: 0.5px solid black;
}

footer > p {
  margin-bottom: 0;
}
a:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 600px) {
  footer {
    padding: 20px 40px;
  }
}

/* ANIMATIONS */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
